<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
  <div class="form-group">
    <%= f.label :email, Spree.t(:email) %>
    <%= f.email_field :email, :class => 'form-control', :tabindex => 1, autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :password, Spree.t(:password) %>
    <%= f.password_field :password, :class => 'form-control', :tabindex => 2 %>
    <br/>

    <%= f.check_box :remember_me, :tabindex => 3 %>
    <%= f.label :remember_me, Spree.t(:remember_me) %>
    <br/>

    <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
    <br/>
    <%= f.submit Spree.t(:login), :class => 'btn btn-primary', :tabindex => 4 %>
  </div>
<% end %>
